.content {
  padding: 3% 15%;
  background-color: rgb(240, 240, 240);
}

article {
  padding: 5%;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(150, 200, 150);
}

section {
  padding-top: 2em;
}

section,
header {
  font-size: larger;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
  border-bottom: 4px solid rgb(20, 100, 20);
  padding: 0.25em 0;
}

h1 {
  font-size: xx-large;
  flex-grow: 1;
}

h1,
h2 {
  margin: 0;
}

.article-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  flex-shrink: 2;
}

.article-nav > a,
p > a,
.article-nav > a:visited,
p > a:visited {
  color: rgb(20, 140, 40);
  transition: color 0.2s;
}

.article-nav > a:hover,
p > a:hover,
.article-nav > a:visited:hover,
p > a:visited:hover {
  color: rgb(90, 180, 90);
  transition: color 0.2s;
}

.float-img {
  max-width: 100%;
  float: var(--direction);
  margin: 1em;
  box-shadow: 0px 0px 20px rgb(120, 200, 120);
}

.image-subtitled {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgb(150, 200, 150);
  padding-bottom: 0.5em;
}

.image-subtitled > img {
  max-width: 100%;
  box-shadow: 0px 0px 15px rgb(150, 200, 150);
}

.image-subtitled > p {
  padding: 0.5em;
  color: gray;
  margin: 0;
  text-align: center;
}

.center {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  max-width: 100%;
  width: 560px;
  height: 315px;
  box-shadow: 0px 0px 20px rgb(120, 200, 120);
  aspect-ratio: 3/2;
}

@media (max-width: 600px) {
  iframe {
    width: auto;
    height: auto;
  }
}

@media (max-width: 800px) {
  .content {
    padding: 0;
    background: none;
  }

  article {
    padding: 5% 5%;
    border: none;
  }

  .article-nav {
    justify-content: start;
    gap: 0.35em 1em;
  }

  img {
    float: none;
    display: block;
  }
}
