@keyframes sheen {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 200%;
  }
}

.sheen {
  background: no-repeat;
  background-image: -webkit-linear-gradient(
    -20deg,
    transparent 0%,
    transparent 19%,
    #fff 20%,
    #fff 22%,
    transparent 23%,
    transparent 26%,
    #fff 27%,
    #fff 32%,
    transparent 33%,
    transparent 34%,
    #fff 35%,
    #fff 36%,
    transparent 37%,
    transparent 45%,
    #fff 46%,
    #fff 52%,
    transparent 53%,
    transparent 83%,
    #fff 85%,
    #fff 89%,
    transparent 90%,
    transparent 100%
  );
  background-size: 600px 100%;
  background-clip: text;
  -webkit-background-clip: text;
}

#site-nav {
  max-width: 100%;
  background-image: -webkit-linear-gradient(
    -30deg,
    rgb(15, 70, 7) 0%,
    rgb(21, 115, 11) 20%,
    rgb(21, 115, 11) 30%,
    rgb(15, 80, 7) 100%
  );
  color: white;
  padding: 12px 2em;
}

#site-nav > div {
  display: flex;
  flex-direction: row;
  animation: sheen 30s linear infinite;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navlabels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.navlabel {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: bold;
  font-size: xx-large;
  color: rgb(255, 255, 255, 0.7);
  transition: color 0.2s;
}

.navlabel:hover {
  color: rgb(255, 255, 255, 0.8);
  transition: color 0.2s;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.navlink {
  height: 100%;
  width: auto;
  cursor: pointer;
  color: rgb(255, 255, 255, 0.6);
  transition: color 0.1s linear;

  position: relative;
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navlink[current] {
  font-weight: bold;
  color: rgb(255, 255, 255, 0.9);
}

.navlink:hover {
  color: rgb(255, 255, 255, 0.9);
}

@media (max-width: 600px) {
  #site-nav {
    padding: 0;
  }

  .navlabel {
    padding: 0;
    font-size: 150%;
  }

  #site-nav > div {
    flex-direction: column;
    padding: 1em 8px;
    gap: 1em;
  }

  .navlinks {
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
  }
}
